{% if les_messages %}
    <ul>
    {% for message in les_messages %}
        <li>
            "{{message.contenu}}"" envoyé par  {{ message.emetteur.prenom }}   {{ message.emetteur.nom }}
        </li>
      {% for dest in message.destinataires.all %}
          {{dest.nom}}
      {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun message.</p>
{% endif %}